header {
  height: 75px;
  width: 100vw;
  max-width: 100%;
  min-width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 5px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: rgba(156, 156, 156, 0.671) 1px 1px 3px;
  letter-spacing: 1px;
  padding: 0 10px;
}

nav > .link {
  margin-right: 25px;
}

.auth-link {
  margin-left: 25px;
  border: rgb(77, 194, 248) 3px solid;
  border-radius: 5px;
  padding: 5px;
  box-shadow: rgba(99, 99, 99, 0.671) 0px 1px 2px;
  text-shadow: none;
}

.link,
.auth-link {
  font-family: inherit;
  background-color: white;
  text-decoration: none;
  color: rgb(77, 194, 248);
  font-size: 32px;
  font-weight: 700;
  transition:color .3s ease-in, background-color .3s ease-in, border-color .3s ease-in;
}

.auth-link:hover {
  background-color: rgb(77, 194, 248);
  color: rgb(255, 207, 75);
  cursor: pointer;
}

.active-link,
.active-auth-link {
  color: rgb(255, 207, 75);
}

.active-auth-link {
  border: rgb(255, 207, 75) 3px solid;
}

.active-auth-link:hover {
  background-color: rgb(255, 207, 75);
}

.logout {
  font-family: inherit;
  background-color: white;
  height: 50px;
  margin-left: 35px;
}

.logout:hover {
  cursor: pointer;
}

.cart {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.cart:hover {
  cursor: pointer;
}

.cart h1 {
  margin-left: 10px;
}

.menu-button {
  display: none;
}

.menu-container {
  width: 140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.menu {
  display: none;
}

.menu-closed,
.menu-open {
  background-color: white;
  height: 200px;
  width: 100%;
  position: absolute;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-open {
  top: 50px;
  animation: openMenu 500ms forwards;
}

.menu-closed {
  animation: closeMenu 500ms forwards;
}

@media (max-width: 1000px) {
  .nav-container {
    display: none;
  }

  .menu-button {
    display: flex;
  }

  header {
    justify-content: space-around;
  }
}

@keyframes openMenu {
  0% {
    transform: translateY(-200px)
  }
}

@keyframes closeMenu {
  100% {
    transform: translateY(-200px)
  }
}