.login {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  width: 225px;
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.562) 0px 3px 10px;
}

.login-submit {
  margin: 20px 0;
  font-family: 'Kulim Park', sans-serif;
  color: rgb(77, 194, 248);
  font-size: 32px;
  font-weight: 700;
  border: rgb(77, 194, 248) 3px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.671) 0px 1px 2px;
  transition:color .3s ease-in, background-color .3s ease-in, border-color .3s ease-in;
}

.login-submit:hover {
  background-color: rgb(77, 194, 248);
  color: rgb(255, 207, 75);
  cursor: pointer;
}